---
import { getCollection } from 'astro:content';
import Article from './Article.astro'

const posts = await getCollection('blog');
---
<style>
  #articlesBox {
    margin-top: 96px;
  }

  #articles {
    font-size: 21.04px;
    text-align: center;
    text-decoration: underline;
    color: var(--text-2)
  }
</style>
<div id="articlesBox">
  <!-- <h2 id="articles">Articles</h2> -->
  {posts.map(post => <Article id={post.id} title={post.data.title} description={post.data.description} author={post.data.author} publishDate={post.data.publishDate} />)}
</div>